<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
    <form [formGroup]="productForm">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input formControlName="productName" matInput>
        </mat-form-field>
        <span class="validations"

        *ngIf="productForm.get('productName')?.errors?.['required'] && productForm.get('productName')?.touched">

        Product Name is required </span>

        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" placeholder="Category">
                <mat-option></mat-option>
                <mat-option value="Clothes">Clothes</mat-option>
                <mat-option value="Home Appliances">Home Appliances</mat-option>
                <mat-option value="Electronics">Electronics</mat-option>
            </mat-select>
        </mat-form-field>
        <span class="validations"

        *ngIf="productForm.get('category')?.errors?.['required'] && productForm.get('category')?.touched">

        Category is required </span>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input formControlName="price" matInput type="number">
            </mat-form-field>
            <span class="validations"
                *ngIf="productForm.get('price')?.errors?.['required'] && productForm.get('price')?.touched">
                Price is required </span>
            <span class="validations" *ngIf="productForm.get('price')?.errors?.['pattern']">Price format is
                required</span>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput>
                </textarea>
        </mat-form-field>
        <span class="validations"

        *ngIf="productForm.get('description')?.errors?.['required'] && productForm.get('description')?.touched">
        Description is required </span>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" [disabled]="!(productForm.valid && productForm.dirty)"
        (click)="addProduct()">{{actionBtn}}</button>
</div>